.cnt{
    width:100%;
}

.l1{
    padding: 1% 0 1% 2%;
    font-size: 20px;
    color:#ff704d;
}

.l2{
    padding: 1% 0 1% 2%;
    font-size: 20px;
    color:#00bfff;
}

.btntst3{
    margin: 2% 0 0 2%;
}