<div class="current-page-container">
    <p id="welcome"> Having trouble finding people to prepare finals with? <br> You've come to the right place! <br>
      Login or create an acount to get started or continue with limited options.</p>
    <img src= "https://img.etimg.com/thumb/width-640,height-480,imgsize-37560,resizemode-1,msid-65449681/wealth/spend/whats-the-cost-of-studying-in-popular-foreign-countries/education2-getty-images.jpg">
        <h2>Our app alows you to:</h2>
        <ul>
          <li>Create study groups for others to join</li>
          <li>Find professional tutors for different subjects </li>
          <li>Find and join different groups for different faculty subjects</li>
          <li>Chat with other users</li>
        </ul>
    <p id="ispodListe">There are many other options so feel free to look around!</p>
</div>
